/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Colors */

:root {
  --primary-color-250: rgb(240, 240, 240);
  --primary-color-500: rgb(212, 212, 212);
  --primery-color-750: rgb(190, 190, 190); 
  --secondary-color-250: rgb(10, 10, 10);
  --secondary-color-500: rgb(20, 20, 20);
  --secondary-color-750: rgb(29, 29, 29);
}

/* Styles */

.app {
  align-items: center;
  background-color: var(--primery-color-750);
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.converter {
  align-items: flex-start;
  background-color: var(--primary-color-250);
  border-radius: 1.5rem;
  color: var(--secondary-color-250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
  max-width: 25rem;
  min-height: 18rem;
  outline: solid;
  outline-color: var(--secondary-color-250);
  outline-width: 0.15rem;
  padding: 1.5rem;
  width: 100%;
}

.converter__button {
  height: fit-content;
  padding: 0.5rem;
}

.converter__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  min-height: 12rem;
}

.converter__input {
  border-radius: 5px;
  min-width: 100px;
  outline: solid;
  outline-color: var(--secondary-color-250);
  outline-width: 0.15rem;
  padding: 0.2rem;
  margin-top: 1rem;
}

.converter__option {
  display: flex;
  align-items: flex-end;
}

.converter__section {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.converter__select {
  padding: 0.3rem;
}

.converter__title {
  font: bold;
  font-size: large;
  margin-right: 1rem;
}

